<%= link_to 'Edit Project', edit_project_path %>
<%= link_to 'Delete Project', @project, :confirm => "Delete this project?", :method => :delete %>
<h1>
	<%= @project[:name] %>
</h1>
	<hr/>
<p>
	<%= @project[:description] %>
	<hr/>
	<%= number_to_currency(@project.goal) %>
	<hr/>
	<%= @project[:starttime] %>
	<hr/>
	<%= @project[:endtime] %>
</p>
<%= link_to 'Home', projects_path %>