<%= link_to 'Edit Project', edit_project_path %>
<%= link_to 'Delete Project', @project, :confirm => "Delete this project?", :method => :delete %>

<%# if current_user.id == current_project %>

<p> You have already pledged!  </p>

<%# else %>
<p>Pledge Below!</p>
<%# end %>

<h1>
	<%= @project[:name] %>
</h1>
	<hr/>
<p>
	About This Project: <%= @project[:description] %>
	<hr/>
	Project Goal: <%= number_to_currency(@project.goal) %>
	<hr/>
	</p>
	Total Pledged: <%= number_to_currency(@project.pledges.sum(:amount)) %>

<p><% time_diff_components = Time.diff(@project[:starttime], @project[:endtime]) %>
   Number of Days Left: <%= time_diff_components[:day] %> 
</p>

<% if Time.now <= @project[:endtime] %>

<%= render 'pledges/pledge_form' %>

<% else %>
<p>This project has ended! </p>
<% end %>
<%= link_to 'Home', projects_path %>
