
	<fieldset>
		<legend><h1>Log in</h1></legend>
			<%= form_tag user_sessions_path, :method => :post do %>
				<div class="field">
					<%= label_tag :email %><br />
					<%= text_field_tag :email %>
				</div>
				<div class="field">
					<%= label_tag :password %><br />
					<%= password_field_tag :password %>
				</div>
				<div class="actions">
					<button class="button [radius round]">Log in</button>
				</div>
			<% end %>	
	</fieldset>